<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.pms.mapper">
	<insert id="insert" parameterType="phone">
		INSERT INTO
		phones (num, model, price, vcode)
		VALUES(#{num},#{model},#{price},#{vcode})
	</insert>
	

	<resultMap type="phone" id="phoneWithCompany">
		<id column="num" property="num"/>
		<result column="model" property="model"/>
		<result column="price" property="price"/>
		<result column="vcode" property="vcode"/>
		<association property="company" javaType="company">
			<id column="vocde" property="vcode"/>
			<result column="vendor" property="vendor"/>
		</association>
	</resultMap>
	
	<!-- 동적쿼리 :: 모든 폰 조회하기 & 특정 폰 조회하기 :: selectList() & selectOne() -->
	<select id="select" parameterType="phone" resultMap="phoneWithCompany"> <!-- join문 사용 -->
		SELECT
		p.num, p.model, p.price, p.vcode, c.vendor
		FROM phones p
		JOIN company c ON p.vcode = c.vcode
		<if test="num!=null">
			WHERE num=#{num}
		</if>
	</select>
	
	<!-- 동적쿼리:: 로그인 기능과 특정고객 찾는 기능 -->
	<select id="selectUser" parameterType="userInfo" resultType="userInfo">
		SELECT
		id, pw
		FROM userinfo
		WHERE id=#{id}
		<if test="pw!=null">
			AND pw=#{pw}
		</if>
	</select>
	
	<!-- 여러개 한번에 삭제하기 -->
	<delete id="delete" parameterType="list">
		DELETE
		FROM phones
		WHERE num in
		<foreach collection="list" item="num" open="(" close=")" separator=",">
			#{num}
		</foreach>
	</delete>
	
	<!-- update -->
	<update id="update" parameterType="phone">
		UPDATE phones
		SET model=#{model}, price=#{price}, vcode=#{vcode}
		WHERE num=#{num}
	</update>
</mapper>








