<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.story.mapper">
	
	<insert id="addStory" parameterType="hashmap">
		INSERT INTO STORY(STORY_ID, STORY_NAME, STORY_SUBTITLE)
		VALUES(STORY_SEQ.NEXTVAL, #{storyName}, #{subtitle})
	</insert>
	
	<delete id="deleteStory" parameterType="int">
		DELETE FROM STORY 
		WHERE STORY_ID=#{storyId}
	</delete>
	
	<update id="updateStory" parameterType="hashmap">
		UPDATE STORY
		SET STORY_SUBTITLE = #{memberList}
		WHERE STORY_ID = #{storyId}
	</update>
	
	<select id="getStoryName" parameterType="string" resultType="String">
		SELECT STORY_NAME FROM STORY WHERE STORY_NAME= #{storyId}
	</select>
	
	<select id="findStoryId" resultType="String">
		SELECT STORY_ID FROM STORY WHERE STORY_NAME= #{storyName}
	</select>
	
	<select id="findStoryName" parameterType="String" resultType="String">
		SELECT STORY_NAME FROM STORY WHERE STORY_ID= #{storyId}
	</select>
	
	<insert id="addStoryMemberLeader" parameterType="hashmap">
		INSERT INTO STORYMEMBER(STORYMEMBER_ID, MEMBER_ID, STORY_ID, STORYMEMBER_AUTH, STORYMEMBER_NAME) 
		VALUES(STORYMEMBER_SEQ.NEXTVAL, #{memberId}, #{storyId},'Y', #{memberName})
	</insert>
	
	<insert id="addStoryMember" parameterType="hashmap">
		INSERT INTO STORYMEMBER(STORYMEMBER_ID, MEMBER_ID, STORY_ID, STORYMEMBER_AUTH, STORYMEMBER_NAME) 
		VALUES(STORYMEMBER_SEQ.NEXTVAL, #{memberId}, #{storyId}, 'N', #{memberName})
	</insert>
	
	<select id="findStoryMember" parameterType="String" resultType="storyMember">
		SELECT MEMBER_ID, STORYMEMBER_AUTH, STORYMEMBER_NAME FROM STORYMEMBER WHERE STORY_ID = #{storyId}
	</select>
	
	<select id="findAllStoryList" parameterType="String" resultType="story">
		SELECT ST.STORY_ID, ST.STORY_NAME, ST.STORY_SUBTITLE
		FROM STORY ST, STORYMEMBER SM
		WHERE ST.STORY_ID=SM.STORY_ID AND SM.MEMBER_ID = #{memberId}
	</select>

	<select id="findStoryInviteMember" parameterType="String" resultType="member">
		SELECT MEMBER_NAME FROM MEMBER WHERE MEMBER_ID=#{memberId}
	</select>
	
	<insert id="addDiary" parameterType="hashmap">
		INSERT INTO DIARY(DIARY_ID, STORY_ID, DIARY_NAME, DIARY_MAKEDATE) 
		VALUES(DIARY_SEQ.NEXTVAL, #{storyId}, #{diaryName}, SYSDATE)
	</insert>
	
	<select id="findAllDiaryList" parameterType="String" resultType="diary">
		SELECT DIARY_ID, STORY_ID, DIARY_NAME, DIARY_MAKEDATE FROM DIARY WHERE STORY_ID = #{storyId}
	</select>
	
	<select id="findAllDiaryTransaction" parameterType="int" resultType="diaryTransaction">
		SELECT DIARYTRANSACTION_ID, MEMBER_ID, TRANSACTION_STORE, TRANSACTION_TIME, TRANSACTION_AMT, TRANSACTION_MEMO
		FROM DIARYTRANSACTION
		WHERE DIARY_ID = #{diaryId}
	</select>

	
	<insert id="addDiaryTransaction" parameterType="List">
		<foreach item="transactionId" collection="List">
			INSERT INTO DIARYTRANSACTION(DIARYTRANSACTION_ID, DIARY_ID, MEMBER_NAME, STORE_ID, TRANSACTION_TIME, TRANSACTION_STORE, TRANSACTION_AMT, TRANSACTION_MEMO)
			VALUES(DIARYTRANSACTION_SEQ.nextval, #{diaryId}, #{memberName}, #{storeId}, #{transactionTime}, #{transactionAmt}, #{transactionMemo))	
		</foreach>
	</insert>
	
	<insert id="addPhotoToDiaryTransaction" parameterType="hashmap">
		INSERT INTO PHOTO(PHOTO_ID, DIARYTRANSACTION_ID, PHOTO_URL) 
		VALUES(PHOTO_SEQ.NEXTVAL, #{diaryTransactionId}, #{photoUrl})
	</insert>
	
	<delete id="deletePhotoToDiaryTransaction" parameterType="String">
		DELETE * FROM PHOTO WHERE PHOTO_ID = #{photoId}
	</delete>
	
	<select id="findDiaryPhoto" parameterType="String" resultType="photo">
		SELECT PHOTO_ID, PHOTO_URL, DIARYTRANSACTION_ID
		FROM PHOTO
		WHERE DIARYTRANSACTION_ID = #{diaryTransactionId}
	</select>
</mapper>








